.tile {
  align-items: stretch;
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  min-height: min-content;

  // Modifiers

  &.is-ancestor {
    margin-left: -$tile-gap;
    margin-right: -$tile-gap;
    margin-top: -$tile-gap;

    &:last-child {
      margin-bottom: -$tile-gap;
    }

    &:not(:last-child) {
      margin-bottom: $tile-gap;
    }
  }

  &.is-child {
    margin: 0 !important;
  }

  &.is-parent {
    padding: $tile-gap;
  }

  &.is-vertical {
    flex-direction: column;

    & > .tile.is-child:not(:last-child) {
      margin-bottom: 1.5rem !important;
    }
  }

  // Responsiveness

  @include tablet {
    &:not(.is-child) {
      display: flex;
    }
    @for $i from 1 through 12 {
      &.is-#{$i} {
        flex: none;
        width: ($i / 12) * 100%;
      }
    }
  }
}
